p {
    color: rgb(12, 12, 20);
    font-size: 1rem;
}

h1 {
    color: rgb(83, 83, 83);
    font-size: 2rem
}

body {
    background-color: white;
    padding: 60px;
}

#suntzu {
    color: gray;
    font-style: italic;
}

.current {
    font-style: italic;
    color: rgb(235, 172, 0);
}

html {
    font-size: 0.42cm;
}

#aboutlink {
    border: 5px solid #11c9cf;
    padding: 10px;
}
