html {
    font-size: 0.42cm;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    background-color: black;
}
.header {
    background-color: #452d17;
    color: white;
    padding: 6em;
        

}
 #index {
background-image: url(../images/orangetitle.png);
background-repeat: no-repeat;

 }
 #deliveries {

 }
 #about {

 }

.headertext {
    display: flex;
        justify-content: center;
}
h1.headertext {
    font-size: 6em;
}
h3.headertext {
    font-size: 2em;
    color: rgb(218, 218, 218);
}

.infobox{
    background-color: #251f18;
    padding: 2em;
    
}
.infoboxB{
    background-color: #452d17;
    padding: 2em;
    display: flex;
        justify-content: center;
    
}
.infobox.activeauction {
    background-color: #afa78f;
    color: white;
        
    
}
.sectioncontent {
    display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 15em; 
        padding-right: 15em;
        
        
}
.sectioncontent.activeauction {

        justify-content: center;
        align-items: start;

            
}
.infoboxheader {
    font-size: 2em;
    color: whitesmoke;
    display: flex;
        justify-content: center;
}
#intro {
    color: whitesmoke;
margin: 69px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
}
div.hubthingy {
    background-color: #251f18;
    padding: 1.5em;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

a.hublink {
    color:white;
    text-decoration: none;
margin-right: 2em

}

#logotext{
    font-size: 1.3em;

}
.bidlist {
    
    border: 10px solid #251f18;
    background-color: whitesmoke;
    color: black;
    font-size: larger;
    width: 769px;
}

.margin {
    margin: 3em
}

.showcase {
    
    padding: 2em
}

#hottime {
    color: #251f18;
}

.whitetext {
    color: white;
}

h2 {
    font-size: 4em;
}

#excuse {
    color: rgb(192, 192, 192);
    font-size: 2em;
    width: 30%;
}

.btn {
    border: 4px solid whitesmoke;
    background-color: whitesmoke;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 2rem;
    text-decoration: none;
    color: black;
    border-radius: 6px;
    font-size: larger;
    transition: 0.3s ease;
}

.btn:hover {
    transform: translateY(-10px);
    background-color: rgb(141, 141, 141);
    border-color: rgb(141, 141, 141);
    color: white;
    cursor: pointer;
}

.btn:active {
    transform: translateY(-5px);
    background-color: rgb(102, 102, 102);
    border: 4px solid rgb(102, 102, 102);
    cursor: pointer;
}

#truck {
    width: 40%;
    height: auto;
}

.stocklist {
    border-color:#afa78f;
    padding: 2em;
    width: 40rem;
}
.stocklist > p {
    border-bottom: 2px solid grey;
    padding: 10px;
    transition: .5s;
    display: flex;
        justify-content: space-between;
}
.stocklist > p:hover {
    background-color: #8b8573;
    color: white;
}

#waitlist {
    padding: 0px;

}
#waitlist > p {
    border-bottom: 2px solid grey;
    padding: 10px;
    transition: .5s;
    display: flex;
        justify-content: space-between;
}
#waitlist > p:hover {
    background-color: #8b8573;
    color: white;
}

footer {
    background-color: #452d17;
    color: white;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

